/* Animate logos */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(1px, 0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px)
    }
}