:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  margin: 0;
  /* Allows divs to extend full height of screen */
  background-repeat: no-repeat;
  /* Prevents background gradient from repeating due to extneded height */
  background-attachment: fixed;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: var(--bg-page-1) !important;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2em;
}

h3{
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 2em;
}

.sourcesanspro-text{
  font-family: "Source Sans Pro";
  color: var(--text-secondary-1) !important;
  font-size: 1rem; 
}

.montserrat-text{
  font-family: "Montserrat";
  color: var(--text-secondary-1) !important;
  font-size: 1rem; 
}

/* ========== Section Padding ========== */
/* Padding allows you to directly focus on the section when you click on the navbar links*/
#intro {
  padding: 60px 0;
  /* Ensure that the intro section fills up the entire viewport so other sections do not leak into the viewport */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#about,
#projects,
#experience,
#skills,
#contact {
  padding: 60px 0;
}

#projects {
  background-color: var(--bg-page-2);
}

#projects-divider {
  background-color: #ffffff;
}


/* =============== Common Button Logo with Link =============== */
.btn-skills {
    background-color: var(--bg-surface-1);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center; 

    /* transition: 0.2s ease-in-out; */
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.btn-skills:hover {
    filter: drop-shadow(3px 3px 1px #00000050);
    transform: scale(1.1);
    /*color: #000000;*/
}


/* Make inline SVG match <img> */
.btn-skills svg {
  width: 64px;
  height: 64px;
  display: inline-block;
  fill: currentColor;
}

/* Ensure images and SVGs are centered inside the button */
.btn-skills img {
  width: 64px;
  height: 64px;
  display: inline-block;
}


.skill-badge {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent-shadow);
    margin:0.25rem;
}



/*===== Background design wires =====*/
/* ======================================== Media queries for different size screens ========================================*/
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
 
  .btn-projects {
      font-family: "Montserrat";
      background-color: #ff0080;
      color: #efefef !important;
      font-size: 1.5rem !important;
      box-shadow: none !important;
      outline: none !important;
      border-radius: 5px;
  }

  .btn-icon {
      font-size: 3rem !important;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {

}

/* XX-Large devices (larger desktops) */
@media (min-width: 2559.98px) {
}